.num1{
    height: 30px;
    width: 140px;
    background-color: rgb(160, 103, 49);
    border-radius: 20px;
    border: 2px solid black;
    color: white;
}

.num2{
    height: 30px;
    width: 140px;
    background-color: rgb(160, 103, 49);
    border-radius: 20px;
    border: 2px solid black;
    color: white;
    margin-top: 10px;
}


.botao{
    height: 40px;
    width: 80px;
    background-color: rgb(160, 103, 49);
    border-radius: 20px;
    border: 2px solid black;
    color: white;
    margin-top: 10px;
}

body{
    margin-top: 0%;
    margin-left: 0%;
    margin-bottom: 0%;
    border-right: 0%;
    background-color: bisque;
}

.centro{
    text-align: center;
    margin-top: 300px;
}

.flex{
    display: flex;
}
